.tittle {
  font-family: Futura;
  font-weight: bold;
  font-size: 101px;
  letter-spacing: 15px;
}

.futura-text {
  font-family: Futura;
}

.subheading {
  font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
}

.text {
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: normal;
  white-space: pre-line !important;
  line-height: 1.5rem;
}

.square-text {
  margin-top: 10px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
}

.rounded-button {
  cursor: pointer;
  width: fit-content;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 45px;
  background-color: #7ca7ad;
  transition: 0.3s;
}

.rounded-button:hover {
  background-color: #7d9da2;
  border-radius: 25px;
}

.rounded-button:active {
  background-color: #7f8485;
}
